{% extends "base.html" %}
{% load static %}

{% block head_script %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{% endblock %}

{% block content %}
    {% include 'inc/_testing_settings.html' %}
    {% include 'testing_by_code/inc/task/_teacher_task_list.html' %}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/testing_by_code/testing_by_code.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/task-form/task-form.js' %}"></script>
    <script type="module" src="{% static 'js/serial_number.js' %}"></script>
{% endblock %}