{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="uk-margin">
        <form class="form__testing testing" method="POST">
            {% csrf_token %}
            <h2 class="testing__title">
                Создать настройки задач для тестирования {{ form.title }}
                {{ form.title.errors }}
            </h2>
            <div class="testing__student-group uk-inline">
                {{ form.student_groups.label }}
                {{ form.student_groups }}
                {{ form.student_groups.errors }}
            </div>
            <div class="testing__is-published">
                {{ form.is_published.label }}
                {{ form.is_published }}
                {{ form.is_published.errors }}
            </div>
            <div class="testing__is-review-of-result-by-student">
                {{ form.is_review_of_result_by_student.label }}
                {{ form.is_review_of_result_by_student }}
                {{ form.is_review_of_result_by_student.errors }}
            </div>
            <button type="submit" uk-icon="refresh" uk-tooltip="Обновить"></button>
            <a href="{% url 'testing_by_code:testing_detail' testing.pk %}"
               uk-icon="close"
               uk-tooltip="Отмена">
            </a>
        </form>
    </div>
{% endblock %}
