<section class="content__task-student-list task-student-list uk-flex uk-flex-column"
         id="task-student-list">
    <form action="{% url 'testing_by_code:solving_testing' %}" method="post">
        {% csrf_token %}
        <input name="testing_title" type="hidden" value="{{ testing_title }}">
        <input name="testing_is_review_of_result_by_student" type="hidden"
               value="{{ testing.is_review_of_result_by_student }}">
        <input name="solving_testing_pk" type="hidden" value="{{ solving_testing.pk }}">
        <button class="uk-margin uk-button uk-button-primary" type="submit">Завершить тест</button>
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            {% for solving_task in solving_testing.solving_task_set.all %}
                {% include "testing_by_code/inc/task/_student_task_detail.html" %}
            {% endfor %}
        </div>
    </form>
</section>