{% load model_manipulation %}

<div class="task" hx-target="this">
    <input form="serial-number-update-form" name="pk" type="hidden" value="{{ task.pk }}">
    <span name="sort-sign" class="uk-width-small uk-sortable-handle">
    {% with task.setting as setting %}
        <div>
            <div class="task__card uk-card uk-card-default uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                Задача №<input form="serial-number-update-form" class="uk-card-title serial-number"
                                               name="serial-number" data-name="serial-number"
                                               data-is-fit-block-to-content-size="True" type="text"
                                               value="{{ task.serial_number }}"> (вес {{ task.weight }})
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="task__body body uk-card-body">
                    <h4>Структура программы:</h4>
                    <div class="uk-text-justify">
                        <div>
                            <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'is_if_operator' %}:
                                </span>
                                <div>
                                    {% if setting.is_if_operator %}
                                        Да
                                    {% else %}
                                        Нет
                                    {% endif %}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'condition_of_if_operator' %}:
                                </span>
                                <div>
                                    {{ setting.condition_of_if_operator }}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'cycle' %}:
                                </span>
                                <div>
                                    {% with setting.cycle.all as cycles %}
                                        {% if cycles %}
                                            {{ cycles|join:', ' }}
                                        {% else %}
                                            Не выбрано
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'cycle_condition' %}:
                                </span>
                                <div>
                                    {{ setting.cycle_condition }}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'operator_nesting' %}:
                                </span>
                                <div>
                                    {% with setting.operator_nesting.all as operators_nesting %}
                                        {% if operators_nesting %}
                                            {{ operators_nesting|join:', ' }}
                                        {% else %}
                                            Не выбрано
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'is_OOP' %}:
                                </span>
                            <div>
                                {% if setting.is_OOP %}
                                    Есть
                                {% else %}
                                    Нет
                                {% endif %}
                            </div>
                        </div>
                        <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'is_strings' %}:
                                </span>
                            <div>
                                {% if setting.is_strings %}
                                    Есть
                                {% else %}
                                    Нет
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-card-footer">
                    <button class="btn-update"
                            hx-post="{% url 'testing_by_code:update_task' task.pk %}"
                            hx-swap="outerHTML"
                            uk-icon="refresh"
                            uk-tooltip="Обновить">
                    </button>
                    <button class="btn-duplicate"
                            hx-post="{% url 'testing_by_code:duplicate_task' task.pk %}"
                            hx-target="#task-list"
                            hx-swap="beforeend"
                            uk-icon="copy"
                            uk-tooltip="Дублировать">
                    </button>
                    <button class="btn-delete"
                            hx-post="{% url 'testing_by_code:delete_task' task.pk %}"
                            hx-swap="outerHTML"
                            uk-icon="trash"
                            uk-tooltip="Удалить">
                    </button>
                </div>
            </div>
        </div>
    {% endwith %}
    </span>
</div>