{% load model_manipulation %}

<div class="task" hx-target="this">
    {% with task.setting as setting %}
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                Задача №<span class="task-number">{{ task_number }}</span> (вес {{ task.weight }})
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body task__body body">
                    <h4>Структура программы:</h4>
                    <div class="uk-text-justify">
                        <div>
                            <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'is_if_operator' %}:
                                </span>
                                <div>
                                    {{ setting.is_if_operator }}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'condition_of_if_operator' %}:
                                </span>
                                <div>
                                    {{ setting.condition_of_if_operator }}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'cycle' %}:
                                </span>
                                <div>
                                    {% if setting.cycle.all %}
                                        {{ setting.cycle.all|join:', ' }}
                                    {% else %}
                                        Не выбрано
                                    {% endif %}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'cycle_condition' %}:
                                </span>
                                <div>
                                    {{ setting.cycle_condition }}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'operator_nesting' %}:
                                </span>
                                <div>
                                    {% if setting.operator_nesting.all %}
                                        {{ setting.operator_nesting.all|join:', ' }}
                                    {% else %}
                                        Не выбрано
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'is_OOP' %}:
                                </span>
                            <div>
                                {% if setting.is_OOP %}
                                    Есть
                                {% else %}
                                    Нет
                                {% endif %}
                            </div>
                        </div>
                        <div class="uk-margin">
                                <span>
                                    {% get_verbose_name_for_field setting 'is_strings' %}:
                                </span>
                            <div>
                                {% if setting.is_strings %}
                                    Есть
                                {% else %}
                                    Нет
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-card-footer">
                    <button class="btn-update"
                            hx-post="{% url 'testing:update_task' task.pk %}"
                            hx-swap="outerHTML"
                            uk-icon="refresh"
                            uk-tooltip="Обновить">
                    </button>
                    <button class="btn-duplicate"
                            hx-post="{% url 'testing:duplicate_task' task.pk %}"
                            hx-swap="beforebegin"
                            uk-icon="copy"
                            uk-tooltip="Дублировать">
                    </button>
                    <button class="btn-delete"
                            hx-post="{% url 'testing:delete_task' task.pk %}"
                            hx-swap="outerHTML"
                            uk-icon="trash"
                            uk-tooltip="Удалить">
                    </button>
                </div>
            </div>
        </div>
    {% endwith %}
</div>