logs/
**/node_modules/
**/.DS_Store
.idea/
**/__pycache__
*.aux
*.log
*.pickle
*.db
*.rdb
*.pid
*.toc
*.out
*.pickle
celerybeat-schedule
.ipynb_checkpoints
.env
Замечания и рекомендации по ТОС.mp4
Примеры.docx
v1 Макеты интерфейсов (Романов).docx
src/.vscode