{% extends "base.html" %}

{% block content %}

    <form class="form" method="post">
        {% csrf_token %}
        {#        <div class="flex-1 min-w-0">#}
        {#            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">#}
        {{ testing_form }}
        <button type="submit" id="submit">Создать тест</button>
        {#            </h2>#}
        {#        </div>#}

        <div class="md:flex md:items-center md:justify-between">
            <div class="mt-4 flex md:mt-0 md:ml-4">
                <button type="button" hx-get="{% url 'testing:create_task_setting_form' number_of_forms|add:1 %}"
                        hx-target="#bookforms" hx-swap="beforeend"
                        class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Add form
                </button>
            </div>
        </div>
        <div id="bookforms" class="py-5 mt-5"></div>
    </form>
{% endblock %}
{#{% extends 'base.html' %}#}
{#{% load static %}#}
{##}
{#{% block content %}#}
{#    <h1>Create books for {{ author.name }}</h1>#}
{##}
{#    <button type="button" hx-get="{% url 'testing:create_task_setting_form' %}" hx-target="#bookforms" hx-swap="beforeend">#}
{#        Add form#}
{#    </button>#}
{##}
{#    <div id="bookforms"></div>#}
{#{% endblock %}#}
{#    <section class="content__testing-update testing-update">#}
{#        <a href="{% url 'testing:create_task_setting_form' %}">Добавить настройку</a>#}
{#        <form action="" method="POST" class="testing-update__form form">#}
{#            {% csrf_token %}#}
{#            <section class="form__testing testing">#}
{#                <div class="testing__title">#}
{#                    {{ testing.title.label }}#}
{#                    {{ testing.title }}#}
{#                </div>#}
{#                <div class="testing__student-group">#}
{#                    {{ testing.student_group.label }}#}
{#                    {{ testing.student_group }}#}
{#                </div>#}
{#            </section>#}
{#            {% for task_setting in task_settings %}#}
{#                <section class="form__setting setting">#}
{#                    <h1>Задача № 1</h1>#}
{#                    <div class="setting__title">#}
{#                        {{ task_setting.title.label }}#}
{#                        {{ task_setting.title }}#}
{#                    </div>#}
{#                    <div class="setting__weight">#}
{#                        <label for="setting-weight">вес</label>#}
{#                        {{ task_setting.weight.label }}#}
{#                        {{ task_setting.weight }}#}
{#                    </div>#}
{#                    <div class="setting__is-if-operator">#}
{#                        {{ task_setting.is_if_operator.label }}#}
{#                        {{ task_setting.is_if_operator }}#}
{#                    </div>#}
{#                    <div class="setting__condition-of-if-operator">#}
{#                        {{ task_setting.condition_of_if_operator.label }}#}
{#                        {{ task_setting.condition_of_if_operator }}#}
{#                    </div>#}
{#                    <div class="setting__availability-of-cycles">#}
{#                        {{ task_setting.availability_of_cycles.label }}#}
{#                        {{ task_setting.availability_of_cycles }}#}
{#                    </div>#}
{#                    <div class="setting__cycle-condition">#}
{#                        {{ task_setting.cycle_condition.label }}#}
{#                        {{ task_setting.cycle_condition }}#}
{#                    </div>#}
{#                    <div class="setting__operator-nesting">#}
{#                        <label for="setting-operator-nesting">Вложенность операторов:#}
{#                        </label>#}
{#                        {{ task_setting.operator_nesting.label }}#}
{#                        {{ task_setting.operator_nesting }}#}
{#                    </div>#}
{#                </section>#}
{#            {% endfor %}#}
{#            <section class="form__setting setting">#}
{#                <h1>Задача № 1</h1>#}
{#                <div class="setting__title">#}
{#                    {{ task_setting_form.title.label }}#}
{#                    {{ task_setting_form.title }}#}
{#                </div>#}
{#                <div class="setting__weight">#}
{#                    <label for="setting-weight">вес</label>#}
{#                    {{ task_setting_form.weight.label }}#}
{#                    {{ task_setting_form.weight }}#}
{#                </div>#}
{#                <div class="setting__is-if-operator">#}
{#                    {{ task_setting_form.is_if_operator.label }}#}
{#                    {{ task_setting_form.is_if_operator }}#}
{#                </div>#}
{#                <div class="setting__condition-of-if-operator">#}
{#                    {{ task_setting_form.condition_of_if_operator.label }}#}
{#                    {{ task_setting_form.condition_of_if_operator }}#}
{#                </div>#}
{#                <div class="setting__availability-of-cycles">#}
{#                    {{ task_setting_form.availability_of_cycles.label }}#}
{#                    {{ task_setting_form.availability_of_cycles }}#}
{#                </div>#}
{#                <div class="setting__cycle-condition">#}
{#                    {{ task_setting_form.cycle_condition.label }}#}
{#                    {{ task_setting_form.cycle_condition }}#}
{#                </div>#}
{#                <div class="setting__operator-nesting">#}
{#                    <label for="setting-operator-nesting">Вложенность операторов:#}
{#                    </label>#}
{#                    {{ task_setting_form.operator_nesting.label }}#}
{#                    {{ task_setting_form.operator_nesting }}#}
{#                </div>#}
{#            </section>#}
{#            <section class="form__setting setting">#}
{#                <h1>Задача № 1</h1>#}
{#                <div class="setting__title">#}
{#                    {{ task_setting_form.title.label }}#}
{#                    {{ task_setting_form.title }}#}
{#                </div>#}
{#                <div class="setting__weight">#}
{#                    <label for="setting-weight">вес</label>#}
{#                    {{ task_setting_form.weight.label }}#}
{#                    {{ task_setting_form.weight }}#}
{#                </div>#}
{#                <div class="setting__is-if-operator">#}
{#                    {{ task_setting_form.is_if_operator.label }}#}
{#                    {{ task_setting_form.is_if_operator }}#}
{#                </div>#}
{#                <div class="setting__condition-of-if-operator">#}
{#                    {{ task_setting_form.condition_of_if_operator.label }}#}
{#                    {{ task_setting_form.condition_of_if_operator }}#}
{#                </div>#}
{#                <div class="setting__availability-of-cycles">#}
{#                    {{ task_setting_form.availability_of_cycles.label }}#}
{#                    {{ task_setting_form.availability_of_cycles }}#}
{#                </div>#}
{#                <div class="setting__cycle-condition">#}
{#                    {{ task_setting_form.cycle_condition.label }}#}
{#                    {{ task_setting_form.cycle_condition }}#}
{#                </div>#}
{#                <div class="setting__operator-nesting">#}
{#                    {{ task_setting_form.operator_nesting.label }}#}
{#                    {{ task_setting_form.operator_nesting }}#}
{#                </div>#}
{#            </section>#}
{##}
{#            <button class="form__button" type="submit">Создать</button>#}
{#        </form>#}
{#    </section>#}
{#{% endblock %}#}
{#<script>#}
{#    let form_count = Number($("[name=is_if_operator]").val());#}
{#    // get extra form count so we know what index to use for the next item.#}
{##}
{#    $("#add-another").click(function () {#}
{#        form_count++;#}
{##}
{#        let element = $('<input type="text"/>');#}
{#        element.attr('name', 'extra_field_' + form_count);#}
{#        $("#forms").append(element);#}
{#        // build element and append it to our forms container#}
{##}
{#        $("[name=extra_field_count]").val(form_count);#}
{#        // increment form count so our view knows to populate#}
{#        // that many fields for validation#}
{#    })#}
{#</script>#}
