<ul class="uk-list">
    {% for answer_option in solving_task.selected_answer_options %}
        <li>
            <div class="uk-flex-inline">
                <div>
                    <input class="uk-checkbox" type="checkbox" disabled checked>
                </div>
                <div>{{ answer_option.description|safe }}</div>
            </div>
        </li>
    {% endfor %}
</ul>
<h4>Правильный ответ:</h4>
{% for answer_option in solving_task.task.answer_option_set.all %}
    <li>
        <div class="uk-flex-inline">
            <div>
                <input class="uk-checkbox" type="checkbox" disabled
                       {% if answer_option.is_correct %}checked{% endif %}>
            </div>
            <div>{{ answer_option.description|safe }}</div>
        </div>
    </li>
{% endfor %}
