{% load static %}
{% load model_manipulation %}
{% with user.student as student %}
    <h1 class="user__title">
        <p>Добро пожаловать студент</p>
        <p>{{ user.get_full_name }}</p>
        группы {{ student.student_group }}
    </h1>
    <h2>Посмотреть результаты тестирований:</h2>
    <h3>
        |<a class="uk-link-heading" href="{{ student.get_solving_testing_list_url }}">Тестирования</a>|
        |<a class="uk-link-heading" href="{{ student.get_solving_testing_by_code_list_url }}">Тестирования по коду</a>|
    </h3>
{% endwith %}