<section class="form__setting setting">
    <h1>Задача № {{ number_of_forms }}</h1>
    <div class="setting__weight">
        {{ form.weight.label }}
        {{ form.weight }}
    </div>
    <div class="setting__is-if-operator">
        {{ form.is_if_operator.label }}
         {{ form.is_if_operator }}
{#        {% include 'inc/task_setting/_form_fields.html' with items=form.is_if_operator type='radio' %}#}
    </div>
    <div class="setting__condition-of-if-operator">
        {{ form.condition_of_if_operator.label }}
        {{ form.condition_of_if_operator }}
{#        {% include 'inc/task_setting/_form_fields.html' with items=form.condition_of_if_operator type='radio' %}#}
    </div>
    <div class="setting__availability-of-cycles">
        {{ form.availability_of_cycles.label }}
        {{ form.availability_of_cycles }}
{#        {% include 'inc/task_setting/_form_fields.html' with items=form.availability_of_cycles type='checkbox' %}#}
    </div>
    <div class="setting__cycle-condition">
        {{ form.cycle_condition.label }}
        {{ form.cycle_condition }}
{#        {% include 'inc/task_setting/_form_fields.html' with items=form.cycle_condition type='radio' %}#}
    </div>
    <div class="setting__operator-nesting">
        {{ form.operator_nesting.label }}
        {{ form.operator_nesting }}
{#        {% include 'inc/task_setting/_form_fields.html' with items=form.operator_nesting type='checkbox' %}#}
    </div>
</section>
