{% extends "base.html" %}

{% block content %}
    <h1>{{ student_full_name }}</h1>
    <form class="uk-margin" action=".">
        <label>
            <input class="uk-input uk-width-1-4" name="search" type="text" placeholder="Поиск" required>
        </label>
        <button class="uk-search-toggle" uk-search-icon type="submit" uk-tooltip="Поиск"></button>
    </form>
    <form action=".">
        <button class="uk-margin uk-button uk-button-primary" type="submit">
            Показать все тесты
        </button>
    </form>
    {% if solving_testings %}
        <ul uk-accordion="multiple: true">
            <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        Наименование тестирования
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        Время начало
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        Время окончания
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        Оценка
                    </div>
                </div>
            </div>
            {% for solving_testing in solving_testings %}
                {% include 'user/inc/solving_testing/_solving_testing_detail.html' %}
            {% endfor %}
        </ul>
    {% else %}
        <h2 class="uk-text-danger">Ни один тест не найден</h2>
    {% endif %}
{% endblock %}
