.testing {
  &__title {
    & h3 {
      margin: 10px;
    }
  }

  & .uk-card {
    padding: 0;
  }
}

.two {
  color: red;
}

.three {
  color: orange;
}

.four {
  color: #87BF71;
}

.five {
  color: #89FF59;
}