{% load static %}
{% load model_manipulation %}
<tr href="#testing{{ solving_testing.pk }}" uk-toggle>
    <td>{{ solving_testing.testing.journal.semester }}</td>
    <td>{{ solving_testing.testing.journal.discipline }}</td>
    <td>{{ solving_testing.testing.journal.teacher }}</td>
    <td>
        {{ solving_testing.testing.title }}
        <img class="icon" src="{% static 'img/eye.svg' %}" alt="dots icon">
    </td>
    <td>{{ solving_testing.start_passage }}</td>
    <td>{{ solving_testing.end_passage }}</td>
    <td>{% with solving_testing.assessment as assessment %}
        <span class="assessment
                                {% if assessment <= 2 %}
                                    two
                                {% elif assessment == 3 %}
                                    three
                                {% elif assessment == 4 %}
                                    four
                                {% elif assessment == 5 %}
                                    five
                                {% endif %}">
                                    {{ assessment }}
                            </span>
    {% endwith %}
    </td>
</tr>
{% include 'user/inc/solving_testing/_solving_testing.html' %}