.serial-number {
  pointer-events: none;
  border: none;
  -moz-appearance: textfield;
}

.serial-number::-webkit-inner-spin-button,
.serial-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
