{% extends "base.html" %}
{% load model_manipulation %}
{% load static %}

{% block content %}
    <h1>{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</h1>
    {% if completed_testings %}
        <form class="uk-margin" action="{% url 'user:testing_completed_list' user.pk %}">
            <label>
                <input class="uk-input uk-width-1-4" name="search" type="text" placeholder="Поиск" required>
            </label>
            <button class="uk-search-toggle" uk-search-icon type="submit" uk-tooltip="Поиск"></button>
        </form>
        <form action="{% url 'user:testing_completed_list' user.pk %}">
            <button class="uk-margin uk-button uk-button-primary" type="submit">
                Показать все тесты
            </button>
        </form>
        <ul uk-accordion="multiple: true">
            {% for completed_testing in completed_testings %}
                <li>
                    <a class="uk-accordion-title uk-text-lead" href="#">
                        Тест {{ completed_testing.testing }}
                    </a>
                    <section class="uk-accordion-content content__testing testing" id="testing">
                        <div class="uk-margin">
                            <div class="uk-card uk-card-default uk-card-body">
                                <div class="testing__title uk-card-header" id="testing-title">
                                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <h3 class="uk-card-title">
                                                {% get_verbose_name_for_field completed_testing 'assessment' %}: {{ completed_testing.assessment }}
                                            </h3>
                                            <h3 class="uk-card-title">
                                                {% get_verbose_name_for_field completed_testing 'total_weight' %}: {{ completed_testing.total_weight }}
                                            </h3>
                                            <h3 class="uk-card-title">
                                                {% get_verbose_name_for_field completed_testing 'weight_of_student_tasks' %}
                                                : {{ completed_testing.weight_of_student_tasks }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-card-body">
                                    <section
                                            class="content__task-student-list task-student-list uk-flex uk-flex-column uk-text-center"
                                            id="task-student-list">
                                        <ul uk-accordion>
                                            {% with completed_testing.tasks as tasks %}
                                                {% include 'user/inc/testing/_task_completed_list.html' %}
                                            {% endwith %}
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2 class="uk-text-danger">Ни один тест не найден</h2>
    {% endif %}
{% endblock %}
