{% extends 'base.html' %}

{% block content %}
    <selection class="content__user">
        <h1 class="user__title">
            Добро пожаловать, {{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}
        </h1>
        {% if completedtesting_list %}
            <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">Тестирование</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">Оценка</div>
                </div>
            </div>
            {% for completedtesting in completedtesting_list %}
                <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            {{ completedtesting.result.testing }}
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            {{ completedtesting.result.assessment }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </selection>
{% endblock %}
