<h1>{{ type }}</h1>
{% if answer_option_form_set_errors %}
    {{ answer_option_form_set_errors }}
{% endif %}
{% include "testing/inc/task/_button_add_answer_option.html" %}
<form class="form" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="uk-margin">
        <button name="btn-submit" class="uk-button uk-button-primary" type="submit" id="btn-submit">
            {{ btn_text }}
        </button>
    </div>
    <div>
        {{ form.as_p }}
    </div>
    <h2>Варианты ответов</h2>
    {% if type == "Закрытый вопрос" %}
        {% include "testing/inc/task/_closed_question_table_answer_options.html" %}
    {% elif type == "Открытый вопрос" %}
        {% include "testing/inc/task/_open_question_table_answer_options.html" %}
    {% endif %}
</form>