{% load shuffle %}
<section class="content__testing-task-list testing-task-list">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Задание №{{ task.serial_number }}</h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>{{ task.description|safe }}</p>
        </div>
        <div class="uk-card-footer">
            {% if task.get_class_name == 'ClosedQuestion' %}
                <p>Выберите один или несколько вариантов ответа:</p>
                {% with task.closed_question_answer_option_set.all as answer_options %}
                    {% if task.is_random_order_answer_options %}
                        {% for answer_option in answer_options|shuffle %}
                            {{ answer_option.description|safe }}
                        {% endfor %}
                    {% else %}
                        {% for answer_option in answer_options %}
                            {{ answer_option.description|safe }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endif %}

            {% if task.get_class_name == 'OpenQuestion' %}
                <input type="text">
            {% endif %}
        </div>
    </div>
</section>
