{% extends 'base.html' %}

{% block header_list %}
    <li><a href="{% url 'testing:testing_list' %}" class="header__link">Тестирования</a></li>
    <li><a href="{% url 'user:logout' %}" class="header__link">Выйти</a></li>
{% endblock %}

{% block content %}
    <selection class="content__user">
        <h1 class="user__title">
            {{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}
        </h1>
        {% if user.is_teacher %}
            {% include 'inc/user/_teacher.html' %}
        {% else %}
            {% include 'inc/user/_student.html' %}
        {% endif %}
    </selection>
{% endblock %}
