{% extends "base.html" %}
{% load static %}

{% block head_script %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/timer.js' %}"></script>
{% endblock %}

{% block content %}
    {% include "inc/_testing_settings.html" %}
    <form id="solving-testing-form" action="{% url 'testing:student_testing_detail' testing_pk %}" method="post">
        {% csrf_token %}
        {% include "testing/inc/testing/_timer.html" %}
        <button name="complete" type="submit" value="true">Завершить тестирование</button>
        <input name="current_page" type="hidden" value="{{ page_obj.number }}">
        {% for solving_task in solving_tasks %}
            <p>Задача №{{ solving_task.task.serial_number }}</p>
            Описание:{{ solving_task.task.description|safe }}
            {{ form }}
        {% endfor %}
        {% if page_obj.has_other_pages %}
            <nav aria-label="Pagination">
                <ul class="uk-pagination" uk-margin>
                    {% if page_obj.has_previous %}
                        <li>
                            <button name="page" type="submit"
                                    value="{{ page_obj.previous_page_number }}"><span
                                    uk-pagination-previous></span></button>
                        </li>
                    {% endif %}

                    {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                            <li class="uk-active"><span aria-current="page">{{ p }}</span></li>
                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                            <li>
                                <button name="page" type="submit" value="{{ p }}">{{ p }}</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li>
                            <button name="page" type="submit" value="{{ page_obj.next_page_number }}"><span
                                    uk-pagination-next></span></button>
                        </li>
                    {% else %}
                        <li>
                            <button name="complete" type="submit" value="true"><span
                                    uk-pagination-next></span></button>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </form>
{% endblock %}
