{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    {% include 'inc/_testing_settings.html' %}
    <p>Задача {{ wizard.steps.step1 }} из {{ wizard.steps.count }}</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ task_description }}
        {{ wizard.form.as_div }}
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.first }}">{% translate "first step" %}</button>
        {% endif %}
        <button name="wizard_goto_step" type="submit"
                value="{{ wizard.steps.prev }}">{% translate "<" %}</button>
        <button name="wizard_goto_step" type="submit"
                value="{% translate "submit" %}">{% translate ">" %}</button>
        {#        <input name="wizard_goto_step" type="submit" value="{% translate "submit" %}"/>#}
    </form>
{% endblock %}