{% extends "base.html" %}
{% load static %}

{% block head_script %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/task-form/task-form.js' %}"></script>
{% endblock %}
{% block content %}
    {% include 'inc/testing/_settings.html' %}
    <section class="content__task-form task-form uk-margin" id="task-form"></section>
    <h2 class="task-form__count-tasks">
        Количество задач: <span id="count-tasks"></span>
    </h2>
    {{ form }}
{% endblock %}
