{% load model_manipulation %}
<h1 class="user__title">
    <p>Добро пожаловать студент</p>
    <p>{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</p>
    группы {{ user.student.student_group }}
</h1>
<form class="uk-margin" action="{% url 'user:home' %}">
    <label>
        <input class="uk-input uk-width-1-4" name="search" type="text" placeholder="Поиск" required>
    </label>
    <button class="uk-search-toggle" uk-search-icon type="submit" uk-tooltip="Поиск"></button>
</form>
<form action="{% url 'user:home' %}">
    <button class="uk-margin uk-button uk-button-primary" type="submit">
        Показать все тесты
    </button>
</form>
{% if home_list %}
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Тестирование</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Начало прохождения</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Окончание прохождения</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Оценка</div>
        </div>
    </div>
    {% for solving_testing in home_list %}
        {% if solving_testing.is_review_of_result_by_student %}
            <ul class="user__completed-testing completed-testing" uk-accordion="multiple: true">
                {% include 'user/testing_completed_detail.html' %}
            </ul>
        {% else %}
            <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        {{ solving_testing.testing.title }}
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        {{ solving_testing.start_passage }}
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        {{ solving_testing.end_passage }}
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        {% with solving_testing.assessment as assessment %}
                            <span class="assessment
                                {% if assessment <= 2 %}
                                    two
                                {% elif assessment == 3 %}
                                    three
                                {% elif assessment == 4 %}
                                    four
                                {% elif assessment == 5 %}
                                    five
                                {% endif %}">
                                    {{ assessment }}
                            </span>
                        {% endwith %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <h2 class="uk-text-danger">Ни один тест не пройден</h2>
{% endif %}