<div name="btns-testing" class="uk-flex uk-flex-column">
    {% if not is_solving_testing %}
        <div class="uk-margin-small-top">
            <a class="uk-width-1-5 uk-button uk-button-primary"
               href="{% url testing_update_url testing.pk %}"
               id="btn-update-testing">
                Обновить тестирование
            </a>
        </div>
    {% endif %}
    <div class="uk-margin-small-top">
        <form action="{% url testing_delete_url testing.pk %}">
            {% csrf_token %}
            <button type="submit" class="uk-width-1-5 uk-button uk-button-danger">
                Удалить тестирование
            </button>
        </form>
    </div>
    {% if not is_solving_testing %}
        <div class="uk-margin-small-top">
            {% if tasks_types %}
                {% include 'testing/inc/testing/_add_task_button.html' %}
            {% else %}
                {% include 'testing_by_code/inc/testing/_add_task_button.html' %}
            {% endif %}
        </div>
        <div class="uk-margin-small-top">
            <form id="serial-number-update-form"
                  action="{% url 'testing_by_code:update_tasks_serial_number' testing.id %}"
                  method="post">
                {% csrf_token %}
                <button class="uk-button uk-button-primary" type="submit">Обновить нумерацию задач</button>
            </form>
        </div>
    {% endif %}
</div>