{% load filters %}
{% for field, value in testing.get_fields_data.items %}
    {% if field == 'Наименование' %}
        <h2>
            Настройки тестирования {{ value }}
        </h2>
    {% elif field == 'Группы студентов' %}
        <div class="header__student-groups uk-text-center">
            <ul class="uk-margin-small" uk-accordion>
                <li>
                    {% if value %}
                        <a class="uk-accordion-title" href="#">Группы студентов</a>
                        <div class="uk-accordion-content">
                            {% for student_group in value %}
                                <div>
                                    {{ student_group.name }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        Группы студентов не выбраны
                    {% endif %}
                </li>
            </ul>
        </div>
    {% else %}
        <div>
            {{ field }}: {{ value }}
        </div>
    {% endif %}
{% endfor %}
<div>Максимальный балл</div>
{% with testing.max_score as max_score %}
    {% for field in max_score.get_fields %}
        <div>
            {{ field.verbose_name }}: {{ max_score|get_attr:field.name }}
        </div>
        {% empty %}
        <div>Не задан</div>
    {% endfor %}
{% endwith %}