<div name="btns-testing" class="uk-flex uk-flex-column">
    <div class="uk-margin-small-top">
        <a class="uk-width-1-5 uk-button uk-button-primary"
           href="{% url testing_update_url testing.pk %}"
           id="btn-update-testing">
            Обновить тестирование
        </a>
    </div>
    <div class="uk-margin-small-top">
        <form action="{% url testing_delete_url testing.pk %}">
            <button type="submit" class="uk-width-1-5 uk-button uk-button-danger">
                Удалить тестирование
            </button>
        </form>
    </div>
    <div class="uk-margin-small-top">
        <button id="btn-add-task"
                name="btn-add-task"
                class="uk-width-1-5 uk-button uk-button-secondary"
                type="button"
                hx-get="{% url add_task_form_url %}"
                hx-target="#task-list"
                hx-swap="afterbegin">
            Добавить задачу
        </button>
    </div>
</div>