<form class="uk-margin" action="{% url 'user:testing_list' journal_pk %}">
    <label>
        <input class="uk-input uk-width-1-4" name="search" type="text" placeholder="Поиск" required>
    </label>
    <button class="uk-search-toggle" uk-search-icon type="submit" uk-tooltip="Поиск"></button>
</form>
<form action="{% url 'user:testing_list' journal_pk %}">
    <button class="uk-margin uk-button uk-button-primary" type="submit">
        Показать все тесты
    </button>
</form>
{% if user.is_teacher %}
    <a class="uk-button uk-button-primary" href="{% url 'testing:testing_create' journal_pk %}">
        Добавить тестирование
    </a>
    <a class="uk-button uk-button-primary" href="{% url 'testing_by_code:testing_create' journal_pk %}">
        Добавить тестирование по коду
    </a>
{% endif %}
