<section class='content__testing-settings' id='testing-settings'>
    {% if user.is_teacher %}
        {% if is_solving_testing %}
            <span class="error">
            Данное тестирование нельзя настроить. Кто-то из студентов его прошёл. <br> Его можно только удалить. Результаты студентов, которые прошли тестирование, останутся нетронутыми.
            </span>
        {% endif %}
        {% include 'inc/_testing_fields.html' %}
        {% include 'inc/_testing_detail_buttons.html' %}
    {% else %}
        <h2>
            Тест {{ testing_title }}
        </h2>
    {% endif %}
</section>
<section class='content__task-form task-form uk-margin' id='task-form'></section>
<h3 class='task-form__count-tasks'>
    {% with 'Количество задач: ' as text %}
        {% if user.is_teacher %}
            {% if quantity_task %}
                {{ text }}{{ quantity_task }}
            {% endif %}
        {% else %}
            {#            <button form='solving-testing-form' class='uk-button uk-button-primary' type='submit'#}
            {#                    name='complete-testing'#}
            {#                    value='complete-testing'>Завершить тестирование#}
            {#            </button>#}
            {{ text }}{{ wizard.steps.count }}
        {% endif %}
    {% endwith %}
</h3>