<section class="content__testing-settings" id="testing-settings">
    {% if user.is_teacher %}
        {% include 'inc/_testing_fields.html' %}
        {% include 'inc/_testing_detail_buttons.html' %}
    {% else %}
        <h2>
            Тест {{ testing.title }}
        </h2>
    {% endif %}
</section>
<section class="content__task-form task-form uk-margin" id="task-form"></section>
<h3 class="task-form__count-tasks">
    {% with 'Количество задач: ' as text %}
        {% if user.is_teacher %}
            {#            {{ text }}<span id="count-tasks"></span>#}
            {{ text }}{{ quantity_task }}
        {% else %}
            <form id="answer-form" method="post">
                {% csrf_token %}
                <button class="uk-button uk-button-primary" type="submit">Завершить тестирование</button>
            </form>
            {{ text }}{{ paginator.count }}
        {% endif %}
    {% endwith %}
</h3>