{% for solving_task in solving_testing.solving_task_set.all %}
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <div class="task-student-list__header header uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        {% if solving_task.score > 0 %}
                            <h3 class="check uk-card-title uk-margin-remove-bottom" uk-icon="check">
                                Задача №{{ solving_task.task.serial_number }}
                            </h3>
                        {% else %}
                            <h3 class="close uk-card-title uk-margin-remove-bottom" uk-icon="close">
                                Задача №{{ solving_task.task.serial_number }}
                            </h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="task-student-list__body uk-card-body">
                {% for field in solving_task.get_fields %}
                    <p>{{ field }}</p>
                {% endfor %}
                <h4>Описание</h4>
                <p>
                    {{ solving_task.task.description|safe }}
                </p>
                <h4>Ответ студента:</h4>
                {% if solving_task.selected_answer_options %}
                    {% include solving_task.selected_answer_options_template %}
                {% else %}
                    <p class="error">Ответ не выбран</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
