<input type="hidden" name="selected_journal_data" value="{{ selected_journal_data }}"/>
<div>
    <div class="uk-card uk-card-default uk-card-body">
        <h3>Семестры</h3>
        <div id="semester-list">
            {% include 'user/inc/teacher/_items_journal.html' with objects=semesters model_name="semester" %}
        </div>
    </div>
</div>
<div>
    <div class="uk-card uk-card-default uk-card-body">
        <h3>Группы</h3>
        <div id="student-group-list">
            {% include 'user/inc/teacher/_items_journal.html' with objects=student_groups model_name="student_group" %}
        </div>
    </div>
</div>
<div>
    <div class="uk-card uk-card-default uk-card-body">
        <h3>Дисциплины</h3>
        <div id="discipline-list">
            {% include 'user/inc/teacher/_items_journal.html' with objects=disciplines model_name="discipline" %}
        </div>
    </div>
</div>