<h1 class="user__title">
    <p>Добро пожаловать преподаватель</p>
    <p>{{ user.get_full_name }}</p>
</h1>
<h2>Студенты</h2>
<form class="uk-margin" action="">
    <label>
        <input class="uk-input uk-width-1-4" name="search" type="text" placeholder="Поиск" required>
    </label>
    <button class="uk-search-toggle" uk-search-icon type="submit" uk-tooltip="Поиск"></button>
</form>
<form action="">
    <button class="uk-margin uk-button uk-button-primary" type="submit">
        Показать всех студентов
    </button>
</form>
{% if students %}
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Группа</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">ФИО</div>
        </div>
    </div>
    {% for student in students %}
        <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    {{ student.student_group }}
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <a uk-toggle="target: #testings-links-window-{{ student.pk }}">
                        {{ student.user.get_full_name }}
                    </a>
                </div>
            </div>
        </div>
        <div id="testings-links-window-{{ student.pk }}" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2 class="uk-modal-title">Какой тип тестирований хотите посмотреть?</h2>
                <p>
                    |<a class="uk-link-heading" href="">Тестирования</a>|
                    |<a class="uk-link-heading" href="{{ student.get_solving_testing_by_code_list_url }}">Тестирования
                    по
                    коду</a>|
                </p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h2 class="uk-text-danger">Студенты не найдены</h2>
{% endif %}