<div hx-target="this" hx-swap="outerHTML">
    <form method="POST">
        {% csrf_token %}
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                {{ task_form.weight.label }} {{ task_form.weight }}
                                {{ task_form.weight.errors }}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body task__body body">
                    <h4>Структура программы:</h4>
                    <div>
                        {#                            <p>#}
                        {#                                {{ task_setup_form.use_of_all_variables.label }}#}
                        {#                                {{ task_setup_form.use_of_all_variables }}#}
                        {#                                {{ task_setup_form.use_of_all_variables.errors }}#}
                        {#                            </p>#}
                        <div class="uk-margin">
                            <span>
                                {{ task_setup_form.is_if_operator.label }}
                            </span>
                            <div>
                                {{ task_setup_form.is_if_operator }}
                                {{ task_setup_form.is_if_operator.errors }}
                            </div>
                        </div>
                        <div class="uk-margin">
                            <span>
                                {{ task_setup_form.condition_of_if_operator.label }}
                            </span>
                            <div>
                                {{ task_setup_form.condition_of_if_operator }}
                                {{ task_setup_form.condition_of_if_operator.errors }}
                            </div>
                        </div>
                        <div class="uk-margin">
                            <span>
                                {{ task_setup_form.presence_one_of_cycles.label }}
                            </span>
                            <div>
                                {{ task_setup_form.presence_one_of_cycles }}
                                {{ task_setup_form.presence_one_of_cycles.errors }}
                            </div>
                        </div>
                        <div class="uk-margin">
                            <span>
                                {{ task_setup_form.cycle_condition.label }}
                            </span>
                            <div>
                                {{ task_setup_form.cycle_condition }}
                                {{ task_setup_form.cycle_condition.errors }}
                            </div>
                        </div>
                        <div class="uk-margin">
                            <span>
                                {{ task_setup_form.operator_nesting.label }}
                            </span>
                            <div>
                                {{ task_setup_form.operator_nesting }}
                                {{ task_setup_form.operator_nesting.errors }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-card-footer">
                    {% if task %}
                        <button name="btn-update"
                                type="submit"
                                hx-post="{% url 'testing:task_update' task.pk %}"
                                uk-icon="refresh"
                                uk-tooltip="Обновить">
                        </button>
                        <button onclick="location.reload()"
                                type="button"
                                uk-icon="close"
                                uk-tooltip="Отмена">
                        </button>
                    {% else %}
                        <button id="btn-add" type="submit"
                                hx-post="."
                                hx-swap="outerHTML"
                                uk-icon="plus"
                                uk-tooltip="Добавить">
                        </button>
                        <button onclick="location.reload()"
                                type="button"
                                uk-icon="close"
                                uk-tooltip="Отмена">
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>