{% extends "base.html" %}
{% load static %}

{% block head_script %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/testing/_detail.css' %}">
    <script type="text/javascript" src="{% static 'js/task_form/btn_update.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin/form_task_setup.js' %}"></script>
{% endblock %}
{% block content %}
    <section class="content__testing testing" id="testing">
        <div class="testing__header uk-margin" id="testing-title">
            {% if user.is_teacher %}
                <h2>
                    Создать настройки задач для тестирования {{ testing.title }}
                </h2>
                <div class="header__student-groups uk-text-center">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">Группы студентов</a>
                            <div class="uk-accordion-content">
                                {% for student_group in testing.student_groups.all %}
                                    <div>
                                        {{ student_group }}
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    Опубликовано:
                    {% if testing.is_published %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}
                </div>
            {% else %}
                <h2>
                    Тест {{ testing.title }}
                </h2>
            {% endif %}
        </div>
        {% if user.is_teacher %}
            <div name="btns-testing" class="uk-flex uk-flex-column">
                <div>
                    <button class="uk-margin uk-width-1-4 uk-button uk-button-primary"
                            id="btn-update-testing"
                            hx-get="{% url 'testing:testing_update' testing.pk %}"
                            hx-target="#testing-title"
                            hx-swap="outerHTML">
                        Обновить тестирование
                    </button>
                </div>
                <div>
                    <form action="{% url 'testing:testing_delete' testing.pk %}">
                        <button type="submit" class="uk-margin uk-width-1-4 uk-button uk-button-danger">
                            Удалить тестирование
                        </button>
                    </form>
                </div>
                <div>
                    <button id="btn-add-task-setup"
                            name="btn-add-task-setup"
                            class="uk-button uk-width-1-4 uk-button-secondary"
                            type="button"
                            hx-get="{% url 'testing:add_task_form' %}"
                            hx-target="#task-list"
                            hx-swap="afterbegin">
                        Добавить настройку задачи
                    </button>
                </div>
            </div>
        {% endif %}
    </section>
    <section class="content__task-form task-form uk-margin" id="task-form"></section>
    {% if user.is_teacher %}
        {% include 'testing/inc/task/_list.html' %}
    {% else %}
        {% include 'testing/inc/task/_student-list.html' %}
    {% endif %}
{% endblock %}
