<div hx-target="this" hx-swap="outerHTML">
    <form class="form" method="POST">
        {% csrf_token %}
        <section class="form__testing testing">
            <h2 class="testing__title">
                Создать настройки задач для тестирования {{ form.title }}
                {{ form.title.errors }}
            </h2>
            <div class="testing__student-group">
                {{ form.student_group.label }}
                {{ form.student_group }}
                {{ form.student_group.errors }}
            </div>
            <div class="testing__is-published">
                {{ form.is_published.label }}
                {{ form.is_published }}
                {{ form.is_published.errors }}
            </div>
        </section>
        <button type="submit"
                hx-post="{% url 'testing:testing_update' testing.pk %}"
                hx-target="#wrapper"
                hx-swap="outerHTML"
                uk-icon="refresh"
                uk-tooltip="Обновить">
        </button>
        <button type="button"
                {#                hx-get="{% url 'testing:task_setup_detail' testing.id %}"#}
                hx-get="{% url 'testing:testing_detail' testing.pk %}"
                hx-target="#wrapper"
                hx-swap="none"
                uk-icon="close"
                uk-tooltip="Отмена">
        </button>
    </form>
</div>
