{% extends "base.html" %}
{% load static %}

{% block head_link %}
    {{ form.media }}
{% endblock %}
{% block head_script %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/closed_question_create.js' %}"></script>
{% endblock %}
{% block content %}
    <h1>Закрытый вопрос</h1>
    {% if answer_option_form_set_errors %}
        {{ answer_option_form_set_errors }}
    {% endif %}
    <form class="form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <h2>Варианты ответов</h2>
        <button type="button" id="add-answer" class="uk-button uk-button-primary">Добавить ответ</button>
        <ul class="uk-margin uk-nav uk-nav-default">
            <li class="uk-grid-small uk-child-width-1-6" uk-grid>
                <div>Изменить порядок</div>
                <div>Порядковый номер</div>
                <div>Описание</div>
                <div>Фото</div>
                <div>Правильный вариант</div>
                <div>Удалить</div>
            </li>
        </ul>
        <ul id="answer-options" name="answer-options" class="uk-margin uk-nav uk-nav-default"
            uk-sortable="handle: .uk-sortable-handle">
            {{ answer_option_form_set.management_form }}
            {% for answer_option_form in answer_option_form_set %}
                <li name="answer-option" class="uk-grid-small uk-child-width-1-6" uk-grid>
                    <span name="sort-sign" class="uk-sortable-handle" uk-icon="icon: table"></span>
                    {% for field in answer_option_form.visible_fields %}
                        <div>
                            {% if field.name == 'photo' %}
                                <div uk-form-custom="target: true">
                                    {{ field }}
                                    <input name="img-input" class="uk-input uk-form-width-medium" type="text"
                                           placeholder="Выберите фото"
                                           aria-label="Custom controls" disabled>
                                    {% if field.value %}
                                        <img src="/media/{{ field.value }}" alt="">
                                    {% endif %}
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% for hidden_field in answer_option_form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {#                    <div>#}
                    {#                        <button type="button" name="btn-delete"#}
                    {#                                uk-icon="trash"#}
                    {#                                uk-tooltip="Удалить">#}
                    {#                        </button>#}
                    {#                    </div>#}
                </li>
            {% endfor %}
        </ul>
        <div class="uk-margin">
            <button name="btn-submit" class="uk-button uk-button-primary" type="submit" id="btn-submit">
                {{ btn_text }}
            </button>
        </div>
    </form>
{% endblock %}
